<%- include("../partials/header") %> 

<div class="container">
    <h1 class="mt-4">Add new vehicle</h1>

    <div class="col-md-9">
        <form action="/vehicles" method="post">

            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">Brand</label>
                        <input class="form-control py-4" type="text" name="vehicle[brand]" placeholder="Ford" required/>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">Model</label>
                        <input class="form-control py-4" name="vehicle[model]" type="text" placeholder="Mondeo" required/></div>
                </div>
            </div>
    
            <div class="form-group">
                <label class="small mb-1">Milage</label>
                <input class="form-control py-4" name="vehicle[milage]" type="number" placeholder="134 000" required/>
            </div>
    
            <div class="form-group">
                <label class="small mb-1">Image</label>
                <input class="form-control py-4" name="vehicle[image]" type="url" placeholder="Enter url of the image"/>
            </div>
    
            <div class="form-group mt-4 mb-0"><button class="btn btn-primary">Submit</button></div>
        </form>
    </div>
</div>



<%- include("../partials/footer") %> 