<%- include("../partials/header") %> 

<h1 class="mt-4 mb-0">Dashboard</h1>
<h5 class="mb-4 text-dark">My vehicles</h5>

<div class="row">
  <%- include("my_vehicles_charts") %> 
</div>

<%- include("../partials/footer") %> 