<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Everything you need to track driving." />
    <meta name="author" content="Juraj Bublinec" />
    <title>Drive Track</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <style>
        #layoutError{
            background-image: url('/assets/img/404.gif'); 
            background-size: 90%;
            background-repeat: no-repeat; 
            background-position: bottom;
            max-width: 75vh;
            margin: auto;
        }
        #layoutError_content{
            margin-top: calc(30vh - 19vw)
        }
    </style>
</head>
<body>

    <div id="layoutError">
        <div id="layoutError_content">
            <main>
                <div class="row justify-content-center">
                    <div class=" mt-1">
                        <div class="text-center mt-5">
                            <h1 class="text-secondary font-weight-bold display-4">Not Found</h1>
                            <a class="btn btn-secondary" href="/"><i class="fas fa-arrow-left mr-1"></i>Go Back</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

</body>
</html>