<%- include("./partials/header") %> 
<style>
    img{
        width: 95%;
        max-width: 60vh;
        position: absolute;
        bottom: 10vh;
        left: 50%;

    }

</style>


<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="row justify-content-center">
                <div >
                    <div class="text-center mt-5">
                        <h1 class="text-secondary font-weight-bold display-4">Not Found</h1>
                        <a class="btn btn-secondary mb-5" href="/"><i class="fas fa-arrow-left mr-1"></i>Go Back</a>
                        <img class="mt-2" src="/assets/img/404.gif">
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</div>

<%- include("./partials/footer") %> 
