<%- include("./partials/header") %> 

<div id="layoutError" style="background-image: url('/assets/img/404.gif'); background-size: 60%; background-repeat: no-repeat; background-position: top;">
    <div id="layoutError_content">
        <main>
            <div class="row justify-content-center" style="margin-top: 40%;">
                <div class="col-lg-6 mt-1">
                    <div class="text-center mt-5">
                        <a class="btn btn-secondary" href="/dashboard/my_vehicles"><i class="fas fa-arrow-left mr-1"></i>Return to Dashboard</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<%- include("./partials/footer") %> 
