<%- include("./partials/header") %> 
<style>
    #layoutError{
        background-image: url('/assets/img/404.gif'); 
        background-size: 90%;
        background-repeat: no-repeat; 
        background-position: bottom;
        max-width: 75vh;
        margin: auto;
    }
    #layoutError_content{
        margin-top: calc(30vh - 19vw)
    }
</style>

<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="row justify-content-center">
                <div class=" mt-1">
                    <div class="text-center mt-5">
                        <h1 class="text-secondary font-weight-bold display-4">Not Found</h1>
                        <a class="btn btn-secondary" href="/"><i class="fas fa-arrow-left mr-1"></i>Go Back</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</div>

<%- include("./partials/footer") %> 
