<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/front.js"></script>
    <!-- modernizer - cross browser compatibility for free -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
    <title>Pondbook</title>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Pondbook</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class=""><a href="/ponds">Ponds</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if(!current_user) {%> 
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sing up</a></li>
                    <% }else{%> 
                        <li><a href="/profile"><%= current_user.username %></a></li>
                        <li><a href="/logout">Log out</a></li>
                    <% } %> 
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- error is an empty arr by defoult which is true -->
        <% if(error && error.length > 0){ %> 
            <div class="alert alert-danger" role="alert">
                <%= error %> 
            </div>
        <% } %>
        <% if(success && success.length > 0){ %> 
            <div class="alert alert-success" role="alert">
                <%= success %> 
            </div>
        <% } %> 
        
    </div>

