body{
    font-family: 'Ubuntu', sans-serif;
}

/* Add rides toggler */
#add_ride_button, #show_tools_button{
    font-size: x-large;
    width: 60px;
}

.card-header{
    padding: 0rem 0.7rem;
}

#add_ride_form{
    /* display: none; */
}

#dataTable_wrapper .row:first-child{
    display: none;
}

.show{
    display: flex !important;
}

#add_ride_form label{
    margin-bottom: 0;
    font-size: 0.95rem;
}


/* Del ride */
.del{
    height: 48px;
    margin: -2.2rem 0;
    border: none;
    text-align: center;
    font-size: 1.6rem;
    line-height: 3rem;
    transition: 0.2s linear;
    display: inline-block;
    color: #f1faee;
    background-color: #dc3545;
    position: absolute;
    right: 0;
    /* to hide at before hover */
    width: 0px;
    opacity: 0;
}

tr:hover .del{
    width: 48px;
    opacity: 1;

}

/* Delete vehicle */
.inline{
    display: inline;
}

/* Scrollbar */

html {
    scrollbar-face-color: #212529;
    scrollbar-base-color: #212529;
    scrollbar-3dlight-color: #212529;
    scrollbar-highlight-color: #212529;
    scrollbar-track-color: #343a40;
    scrollbar-arrow-color: #343a40;
    scrollbar-shadow-color: #212529;
    scrollbar-dark-shadow-color: #212529;
  }
  
  ::-webkit-scrollbar { width: 11px; height: 3px;}
  ::-webkit-scrollbar-track {  background-color: #212529;}
  ::-webkit-scrollbar-track-piece { background-color: #343a40;}
  ::-webkit-scrollbar-thumb { height: 50px; background-color: #212529; border-radius: 3px;}
  ::-webkit-scrollbar-corner { background-color: #212529;}}
  ::-webkit-resizer { background-color: #212529;}