body{
    font-family: 'Ubuntu', sans-serif;
}

/* Add rides toggler */
#add_ride_button, #show_tools_button{
    font-size: x-large;
    width: 60px;
}

.card-header{
    padding: 0.3rem 0.7rem;
}

#add_ride_form{
    display: none;
}

#dataTable_wrapper .row:first-child{
    display: none;
}

.show{
    display: flex !important;
}

/* Del ride */
.del{
    height: 48px;
    margin: -2.2rem 0;
    border: none;
    text-align: center;
    font-size: 1.6rem;
    line-height: 3rem;
    transition: 0.2s linear;
    display: inline-block;
    color: #f1faee;
    background-color: #E63946;
    position: absolute;
    right: 0;
    /* to hide at before hover */
    width: 0px;
    opacity: 0;
}

tr:hover .del{
    width: 48px;
    opacity: 1;

}

/* Delete vehicle */
.inline{
    display: inline;
}