body{
    font-family: 'Ubuntu', sans-serif;
}

/* Add rides toggler */
#add_ride_button, 
#show_tools_button_dataTable,
#show_tools_button_driversTable{
    font-size: 1.5rem;
    width: 60px;
}

#show_tools_button_dataTable,
#show_tools_button_driversTable{
    font-size: 1.4rem;
    width: 60px;
}

.card-header{
    padding: 0rem 0.7rem;
}

#add_ride_form{
    /* display: none; */
    margin-top: 10px;
}

#dataTable_wrapper .row:first-child,
#driversTable_wrapper .row:first-child{
    display: none;
}

.show{
    display: flex !important;
}

#add_ride_form label{
    margin-bottom: 0;
    font-size: 0.95rem;
}

.table-no-border {
    padding: 0 !important;
}

#addDriversTable_wrapper .row:first-child{
    margin-top: 8px;
}

#driversTable_wrapper .row .col-sm-12.col-md-6:first-child,
#addDriversTable_wrapper .row .col-sm-12.col-md-6:first-child,
#dataTable_wrapper .row .col-sm-12.col-md-6:first-child,
#driversTable_wrapper thead,
#addDriversTable_wrapper thead
{
    display: none;
}

#driversTable_wrapper .row .col-sm-12.col-md-6 label,
#dataTable_wrapper .row .col-sm-12.col-md-6 label,
#addDriversTable_wrapper .row .col-sm-12.col-md-6 label{ 
    float: left;
}

#driversTable_wrapper .row .col-sm-12.col-md-6 input,
#addDriversTable_wrapper .row .col-sm-12.col-md-6 input{ 
    max-width: 40vw !important;
}

.pagination{
    margin: 7px !important;
}

table.dataTable{
    margin: 0 0 !important;
}


/* Del ride */
.table_button{
    height: 48px;
    margin: -2.25rem 0;
    border: none;
    text-align: center;
    font-size: 1.6rem;
    line-height: 3rem;
    transition: 0.2s linear;
    display: inline-block;
    color: #f1faee;
    position: absolute;
    right: 0;
    /* to hide at before hover */
    width: 0px;
    opacity: 0;
}

.table_button svg{
    display: none;
}

tr:hover .table_button{
    width: 48px;
    opacity: 1;
}

tr:hover .table_button svg{
    display: inline;
}

/* Delete vehicle */
.inline{
    display: inline;
}

/* Scrollbar */

html {
    scrollbar-face-color: #212529;
    scrollbar-base-color: #212529;
    scrollbar-3dlight-color: #212529;
    scrollbar-highlight-color: #212529;
    scrollbar-track-color: #343a40;
    scrollbar-arrow-color: #343a40;
    scrollbar-shadow-color: #212529;
    scrollbar-dark-shadow-color: #212529;
  }
  
  ::-webkit-scrollbar { width: 11px; height: 0px;}
  ::-webkit-scrollbar-track {  background-color: #212529;}
  ::-webkit-scrollbar-track-piece { background-color: #343a40;}
  ::-webkit-scrollbar-thumb { height: 50px; background-color: #212529; border-radius: 3px;}
  ::-webkit-scrollbar-corner { background-color: #212529;}}
  ::-webkit-resizer { background-color: #212529;}